* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.header {
  height: 51px;
  background-color: #fff;
  padding: 8.5px 0;
  border-bottom: 1px solid #e5e5e5;
}
.header .container {
  height: 51px;
}
.header .container .row .col-6 {
  display: flex;
  align-items: center;
}
.header .container .row .col-6 .icon-menu-mobile {
  display: none;
}
.header .container .row .col-6 a img {
  width: 150px;
  height: 28px;
}
.header .container .row .col-6 span.time {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  margin-left: 20px;
  padding-left: 15px;
  position: relative;
}
.header .container .row .col-6 span.time::before {
  content: "";
  width: 1px;
  height: 26px;
  position: absolute;
  background: #e5e5e5;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header .container .row .col-6 .new {
  height: 32px;
  padding: 0 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  transition: all 0.3s;
  display: inline-block;
  line-height: 32px;
  text-decoration: none;
}
.header .container .row .col-6 .new:hover {
  color: #4f4f4f;
  background: #f7f7f7;
}
.header .container .row .col-6 .international {
  margin-left: 15px;
  height: 32px;
  padding: 0 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  display: inline-block;
  line-height: 32px;
  text-decoration: none;
  transition: all 0.3s;
}
.header .container .row .col-6 .international:hover {
  color: #4f4f4f;
  background: #f7f7f7;
}
.header .container .row .col-6 .international img {
  width: 16px;
  height: 16px;
}
.header .container .row .col-6 form.search {
  margin-left: 5px;
  padding-left: 15px;
  position: relative;
}
.header .container .row .col-6 form.search::before {
  content: "";
  width: 1px;
  height: 24px;
  position: absolute;
  background: #e5e5e5;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}
.header .container .row .col-6 form.search input.txtSearch {
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  border: 1px solid #e5e5e5;
  padding: 0 30px 0 14px;
  margin: 0;
  width: 160px;
  outline: none;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.header .container .row .col-6 form.search input.txtSearch:focus {
  border: 1px solid #bdbdbd;
}
.header .container .row .col-6 form.search button.btn-search {
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
}
.header .container .row .col-6 form.search button.btn-search i {
  color: #bdbdbd;
}
.header .container .row .col-6 .login {
  margin-left: 15px;
  cursor: pointer;
}
.header .container .row .col-6 .login:hover span {
  color: #087cce;
}
.header .container .row .col-6 .login i {
  width: 16px;
  height: 16px;
  color: #bdbdbd;
}
.header .container .row .col-6 .login span {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.header .menu-mobile {
  display: none;
}

.navigation {
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.navigation.sticky {
  background: #fff;
  height: 49px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.navigation.sticky ul li:nth-child(19), .navigation.sticky ul li:nth-child(20) {
  display: none;
}
.navigation.sticky ul li:nth-child(1) {
  background-color: transparent;
}
.navigation.sticky ul li:nth-child(1):hover {
  background-color: transparent;
}
.navigation.sticky ul li:nth-child(1) a :nth-child(1) {
  display: none;
}
.navigation.sticky ul li:nth-child(1) img {
  width: 20px;
  height: 20px;
  display: block;
}
.navigation > ul {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
}
.navigation > ul > li {
  display: inline-block;
  line-height: 50px;
  position: relative;
  cursor: pointer;
}
.navigation > ul > li > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #4f4f4f;
}
.navigation > ul > li:hover a {
  color: #b52759;
}
.navigation > ul > li:hover .sub-menu {
  visibility: visible;
  top: 100%;
  border-top: 1px solid #b52759;
  opacity: 1;
}
.navigation > ul > li > .sub-menu {
  margin: 0;
  list-style: none;
  position: absolute;
  z-index: 10;
  opacity: 0;
  width: 190px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  top: calc(100% + 20px);
  left: 0;
  transition: all cubic-bezier(0.7, 1, 0.7, 1) 0.2s;
}
.navigation > ul > li > .sub-menu > li {
  display: block;
  height: auto;
}
.navigation > ul > li > .sub-menu > li > a {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding: 4px 15px;
  line-height: 36px;
  display: block;
}
.navigation > ul > li:nth-child(1) {
  background-color: #e5e5e5;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s;
}
.navigation > ul > li:nth-child(1) img {
  display: none;
}
.navigation > ul > li:nth-child(1):hover {
  background-color: #b52759;
}
.navigation > ul > li:nth-child(1):hover i {
  color: #fff;
}
.navigation > ul > li:nth-child(1) a i {
  color: #757575;
  font-size: 16px;
}
.navigation > ul > li:nth-child(7):hover > a {
  color: #065e9d;
}
.navigation > ul > li:nth-child(7):hover .sub-menu {
  border-color: #065e9d;
}
.navigation > ul > li:nth-child(8):hover > a {
  color: #ad9634;
}
.navigation > ul > li:nth-child(8):hover .sub-menu {
  border-color: #ad9634;
}
.navigation > ul > li:nth-child(9):hover > a {
  color: #ec326b;
}
.navigation > ul > li:nth-child(9):hover .sub-menu {
  border-color: #ec326b;
}
.navigation > ul > li:nth-child(10):hover > a {
  color: #5fae2e;
}
.navigation > ul > li:nth-child(10):hover .sub-menu {
  border-color: #5fae2e;
}
.navigation > ul > li:nth-child(11):hover > a {
  color: #923a3c;
}
.navigation > ul > li:nth-child(11):hover .sub-menu {
  border-color: #923a3c;
}
.navigation > ul > li:nth-child(12):hover > a {
  color: #eb7600;
}
.navigation > ul > li:nth-child(12):hover .sub-menu {
  border-color: #eb7600;
}
.navigation > ul > li:nth-child(13):hover > a {
  color: #049b93;
}
.navigation > ul > li:nth-child(13):hover .sub-menu {
  border-color: #049b93;
}
.navigation > ul > li:nth-child(14):hover > a {
  color: #309fc0;
}
.navigation > ul > li:nth-child(14):hover .sub-menu {
  border-color: #309fc0;
}
.navigation > ul > li:nth-child(15):hover > a {
  color: #0083d6;
}
.navigation > ul > li:nth-child(15):hover .sub-menu {
  border-color: #0083d6;
}
.navigation > ul > li:nth-child(16):hover > a {
  color: #b88000;
}
.navigation > ul > li:nth-child(16):hover .sub-menu {
  border-color: #b88000;
}
.navigation > ul > li:nth-child(17):hover > a {
  color: #8392a0;
}
.navigation > ul > li:nth-child(17):hover .sub-menu {
  border-color: #8392a0;
}
.navigation > ul > li:nth-child(18):hover > a {
  color: #b52759;
}
.navigation > ul > li:nth-child(18):hover .sub-menu {
  border-color: #b52759;
}
.navigation > ul > li:nth-child(20):hover > a {
  color: #e7776a;
}
.navigation > ul > li:nth-child(20):hover .sub-menu {
  border-color: #e7776a;
}
.navigation .wrap-menu {
  position: absolute;
  z-index: 10;
  height: 289px;
  overflow: hidden;
  background-color: #f7f7f7;
  top: calc(100% + 10px);
  opacity: 0;
  width: 100%;
  left: 0;
  visibility: hidden;
  transition: all 0.2s cubic-bezier(0.7, 1, 0.7, 1);
}
.navigation .wrap-menu .container .header-wrap-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bdbdbd;
  padding: 13px 0;
}
.navigation .wrap-menu .container .header-wrap-menu > h1 {
  font-size: 18px;
  font-weight: 700;
  color: #4f4f4f;
}
.navigation .wrap-menu .container .header-wrap-menu > a.close-wrap {
  font-size: 15px;
  font-weight: 400;
  color: #087cce;
  text-decoration: none;
}
.navigation .wrap-menu .container .header-wrap-menu > a.close-wrap i {
  margin-left: 3px;
  display: inline-block;
}
.navigation .wrap-menu .container .header-wrap-menu > a.close-wrap:hover {
  opacity: 0.8;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-y: scroll;
  height: 239px;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left::-webkit-scrollbar {
  background: transparent;
  height: 21.1302%;
  width: 5px;
  cursor: pointer;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left .row > .col-2 .menu-wrap {
  list-style-type: none;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left .row > .col-2 .menu-wrap > li {
  line-height: 31px;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left .row > .col-2 .menu-wrap > li:first-child a {
  font-size: 16px;
  font-weight: 600;
  color: #b52759;
  padding-bottom: 7.5px;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left .row > .col-2 .menu-wrap > li:last-child:hover > a {
  color: #087cce;
  text-decoration: underline;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left .row > .col-2 .menu-wrap > li:last-child a {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
  padding-top: 3px;
  position: relative;
  display: inline-block;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left .row > .col-2 .menu-wrap > li:last-child a::before {
  content: "";
  width: 80px;
  height: 1px;
  background: #bdbdbd;
  position: absolute;
  top: 6px;
  left: 0;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left .row > .col-2 .menu-wrap > li a {
  font-size: 14px;
  font-weight: 400;
  color: #222;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left .row > .col-2 .menu-wrap li.hidden {
  display: none;
}
.navigation .wrap-menu .container .row .col-10.header-wrap-menu-left .row > .col-2 .menu-wrap li.hidden.show {
  display: block !important;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right {
  padding-top: 15px;
  overflow-y: scroll;
  height: 239px;
  border-left: 1px solid #bdbdbd;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right::-webkit-scrollbar {
  background: transparent;
  height: 21.1302%;
  width: 5px;
  cursor: pointer;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .news {
  list-style-type: none;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bdbdbd;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .news > li {
  margin-bottom: 17px;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .news > li:hover a {
  text-decoration: underline;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .news > li > a {
  font-size: 16px;
  font-weight: 700;
  color: #222;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .list-link {
  list-style-type: none;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid #bdbdbd;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .list-link > li {
  margin-bottom: 15px;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .list-link > li > a {
  font-size: 14px;
  font-weight: 400;
  color: #222;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .list-link > li:hover a {
  text-decoration: underline;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .contact {
  list-style-type: none;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .contact > p {
  font-size: 15px;
  font-weight: 400;
  color: #222;
  margin-bottom: 10px;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .contact > li:hover a {
  color: #087cce;
  text-decoration: none;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .contact > li > a {
  font-size: 14px;
  font-weight: 400;
  color: #222;
  margin-bottom: 10px;
  display: inline-block;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .contact > li > a > i {
  margin-right: 6px;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .contact > li > a > i.icon-email {
  color: #bdbdbd;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .contact > li > a > i.icon-e {
  color: greenyellow;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .contact > li > a > i.icon-v {
  color: yellow;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .download-app {
  list-style-type: none;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #bdbdbd;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .download-app p {
  font-size: 15px;
  font-weight: 400;
  color: #222;
  margin-bottom: 10px;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .download-app > li:hover a {
  background-color: #e5e5e5;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .download-app > li > a {
  border: 1px solid #e5e5e5;
  background: #fff;
  border-radius: 3px;
  height: 32px;
  line-height: 32px;
  display: block;
  text-align: left;
  padding-left: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 400;
  color: #222;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .download-app > li > a img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.navigation .wrap-menu .container .row .col-2.header-wrap-menu-right .download-app > li > a i {
  margin-right: 5px;
}
.navigation .wrap-menu.show {
  top: calc(100% - 3px);
  visibility: visible;
  opacity: 1;
}

.section-1 {
  padding-top: 20px;
}
.section-1 .container .row .section-1-left .row .section-1-left-up {
  padding-left: 0;
  background: #f7f7f7;
}
.section-1 .container .row .section-1-left .row .section-1-left-up .row {
  padding-left: 15px;
}
.section-1 .container .row .section-1-left .row .section-1-left-up .row > a.col-lg-8 {
  overflow: hidden;
  transform: scale3d(1, 1, 1);
  padding: 0;
}
.section-1 .container .row .section-1-left .row .section-1-left-up .row > a.col-lg-8:hover img {
  transform: scale3d(1.05, 1.05, 1.05);
}
.section-1 .container .row .section-1-left .row .section-1-left-up .row > a.col-lg-8 img {
  width: 100%;
  display: block;
  background-color: red;
  height: 312px;
  transition: all 0.65s;
}
.section-1 .container .row .section-1-left .row .section-1-left-up .row > .col-lg-4 a {
  text-decoration: none;
}
.section-1 .container .row .section-1-left .row .section-1-left-up .row > .col-lg-4 a:hover h1 {
  color: #087cce;
}
.section-1 .container .row .section-1-left .row .section-1-left-up .row > .col-lg-4 a h1 {
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  line-height: 1.6;
}
.section-1 .container .row .section-1-left .row .section-1-left-up .row > .col-lg-4 a p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: #222;
  line-height: 1.6;
}
.section-1 .container .row .section-1-left .row .section-1-left-up .row > .col-lg-4 a {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  line-height: 1.6;
  display: inline-block;
}
.section-1 .container .row .section-1-left .row .section-1-left-up .row > .col-lg-4 a:hover {
  color: #087cce;
}
.section-1 .container .row .section-1-left .row .section-1-left-down {
  margin-top: 20px;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-8 .row .col-lg-6:first-child {
  padding-left: 0;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-8 .row .col-lg-6 a {
  text-decoration: none;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-8 .row .col-lg-6 a h3 {
  font-size: 15px;
  font-weight: 700;
  color: #222;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-8 .row .col-lg-6 a h3:hover {
  color: #087cce;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-8 .row .col-lg-6 a p {
  font-size: 14px;
  font-weight: 400 #222;
  color: #222;
  margin-top: 10px;
  line-height: 1.6;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-8 .row .col-lg-6 a p span {
  font-size: 12px;
  font-weight: 400;
  color: #087cce;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-8 .row .col-lg-6 a p span:hover i {
  color: #999;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-8 .row .col-lg-6 a p span i {
  color: #bdbdbd;
  margin-right: 5px;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 {
  border-left: 1px solid #bdbdbd;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a {
  text-decoration: none;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:first-child {
  font-size: 14px;
  font-weight: 700;
  color: #b52759;
  margin-bottom: 5px;
  display: inline-block;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:last-child h3 {
  font-size: 15px;
  font-weight: 700;
  color: #222;
  margin-bottom: 0;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:last-child h3:hover {
  color: #087cce;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:last-child p {
  font-size: 14px;
  font-weight: 400;
  color: #222;
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 5px;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:last-child .article {
  margin-top: 12px;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:last-child .article .article-name p {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:last-child .article .article-name p:hover {
  color: #087cce;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:last-child .article .article-name span {
  font-size: 12px;
  font-weight: 400;
  color: #087cce;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:last-child .article .article-name span:hover i {
  color: #999;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:last-child .article .article-name span i {
  color: #bdbdbd;
  margin-right: 5px;
}
.section-1 .container .row .section-1-left .row .section-1-left-down > .row > .col-lg-4 a:last-child .article img {
  width: 56px;
  height: 56px;
}
.section-1 .container .row .section-1-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section-1 .container .row .section-1-right .row .col-12 img {
  width: 100%;
  height: 160px;
}
.section-1 .container .row .section-1-right .row .section-1-item-2 {
  margin: 30px 0;
}
.section-2 {
  margin-top: 20px;
}
.section-2 .container {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}
.section-2 .container .row .section-2-left .row {
  padding-right: 20px;
}
.section-2 .container .row .section-2-left .row .col-12 a {
  text-decoration: none;
}
.section-2 .container .row .section-2-left .row .col-12 a h3 {
  font-size: 15px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
}
.section-2 .container .row .section-2-left .row .col-12 a h3:hover {
  color: #087cce;
}
.section-2 .container .row .section-2-left .row .col-12 a .description {
  display: flex;
}
.section-2 .container .row .section-2-left .row .col-12 a .description img {
  width: 145px;
  height: 87px;
  margin-right: 10px;
}
.section-2 .container .row .section-2-left .row .col-12 a .description p {
  font-size: 14px;
  font-weight: 400;
  color: #222;
}
.section-2 .container .row .section-2-left .row .col-12 a .description p span {
  color: #087cce;
  font-size: 12px;
}
.section-2 .container .row .section-2-left .row .col-12 a .description p span:hover i {
  color: #999;
}
.section-2 .container .row .section-2-left .row .col-12 a .description p span i {
  color: #bdbdbd;
  margin-right: 5px;
}
.section-2 .container .row .section-2-left .row .col-12:nth-child(2), .section-2 .container .row .section-2-left .row .col-12:nth-child(3) {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
}
.section-2 .container .row .section-2-right {
  border-left: 1px solid #e5e5e5;
}
.section-2 .container .row .section-2-right .item-1 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #bdbdbd;
}
.section-2 .container .row .section-2-right .item-1:nth-child(3) {
  border-bottom: none;
  margin-top: 10px;
}
.section-2 .container .row .section-2-right .item-1:nth-child(3) .active:hover {
  color: #5FAE2E;
}
.section-2 .container .row .section-2-right .item-1:nth-child(3) .active:hover::before {
  background-color: #5FAE2E !important;
}
.section-2 .container .row .section-2-right .item-1 .title {
  margin-bottom: 20px;
}
.section-2 .container .row .section-2-right .item-1 .title ul {
  list-style: none;
  margin: 0;
}
.section-2 .container .row .section-2-right .item-1 .title ul li {
  display: inline-block;
  margin-top: 5px;
  margin-left: 16px;
}
.section-2 .container .row .section-2-right .item-1 .title ul li a {
  font-size: 13px;
  font-weight: 400;
  color: #4f4f4f;
  text-decoration: none;
}
.section-2 .container .row .section-2-right .item-1 .title ul li a:hover {
  color: #087cce;
}
.section-2 .container .row .section-2-right .item-1 .title ul li:first-child {
  margin: 0;
}
.section-2 .container .row .section-2-right .item-1 .title ul li .active {
  font-size: 18px;
  font-weight: 700;
  color: #222;
  position: relative;
}
.section-2 .container .row .section-2-right .item-1 .title ul li .active:hover::before {
  background-color: #087cce;
}
.section-2 .container .row .section-2-right .item-1 .title ul li .active::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #9f224e;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-left .row .col-6:last-child {
  padding-left: 0;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-left .row .col-6 a {
  overflow: hidden;
  display: block;
  text-decoration: none;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-left .row .col-6 a:hover img {
  transform: scale3d(1.05, 1.05, 1.05);
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-left .row .col-6 a img {
  transform: scale3d(1, 1, 1);
  width: 100%;
  height: auto;
  transition: all 0.65s;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-left .row .col-6 a {
  text-decoration: none;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-left .row .col-6 a h3 {
  font-size: 15px;
  font-weight: 700;
  color: #222;
  padding-right: 20px;
  margin-bottom: 5px;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-left .row .col-6 a h3:hover {
  color: #087cce;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-left .row .col-6 a p {
  font-size: 14px;
  font-weight: 400 #222;
  color: #222;
  padding-right: 20px;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-right {
  border-left: 1px solid #e5e5e5;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-right a {
  text-decoration: none;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-right a h3 {
  font-size: 15px;
  font-weight: 700;
  color: #222;
  padding-right: 20px;
  margin-bottom: 5px;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-right a h3:hover {
  color: #087cce;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-right a p {
  font-size: 14px;
  font-weight: 400 #222;
  color: #222;
  padding-right: 20px;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-right a p span {
  font-size: 12px;
  color: #087cce;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-right a p span:hover i {
  color: #999;
}
.section-2 .container .row .section-2-right .item-1 .content-1 .content-1-right a p span i {
  color: #bdbdbd;
  margin-right: 5px;
}
.section-2 .container .row .section-2-right .item-1 .content-2 {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  position: relative;
}
.section-2 .container .row .section-2-right .item-1 .content-2::before {
  width: 100%;
  height: 1px;
  content: "";
  background: #e5e5e5;
  position: absolute;
  top: 10px;
  left: 0;
}
.section-2 .container .row .section-2-right .item-1 .content-2 li {
  max-width: 200px;
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 15px;
  position: relative;
}
.section-2 .container .row .section-2-right .item-1 .content-2 li::before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  content: "";
  background: #ababab;
  position: absolute;
  top: 18px;
  left: 0;
}
.section-2 .container .row .section-2-right .item-1 .content-2 li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #222;
  position: relative;
}
.section-2 .container .row .section-2-right .item-1 .content-2 li a:hover {
  color: #087cce;
}
.section-2 .container .row .section-2-right .item-1 .content-2 li a span {
  font-size: 12px;
  font-weight: 400;
  color: #087cce;
}
.section-2 .container .row .section-2-right .item-1 .content-2 li a span:hover i {
  color: #999;
}
.section-2 .container .row .section-2-right .item-1 .content-2 li a span i {
  color: #bdbdbd;
}
.section-2 .container .row .section-2-right .item-2 {
  padding-bottom: 15px;
  border-bottom: 1px solid #bdbdbd;
}
.section-2 .container .row .section-2-right .item-2 img {
  width: 100%;
}

.video {
  margin-top: 40px;
  margin-bottom: 20px;
}
.video .container {
  background-color: #fcfaf6;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #f0eeea;
}
.video .container .title {
  margin-bottom: 20px;
}
.video .container .title a {
  font-size: 13px;
  font-weight: 400;
  color: #4f4f4f;
  margin-left: 16px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
}
.video .container .title a:hover {
  color: #087cce;
}
.video .container .title a.active {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #222;
  position: relative;
}
.video .container .title a.active:hover {
  color: #b52759;
}
.video .container .title a.active::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #9f224e;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.video .container .row .video-left video {
  width: 100%;
}
.video .container .row .video-left a {
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
}
.video .container .row .video-left a:hover h1 {
  color: #087cce;
}
.video .container .row .video-left a h1 {
  font-size: 24px;
  font-weight: 700;
  color: #222;
}
.video .container .row .video-right {
  overflow-y: scroll;
  height: 458px;
}
.video .container .row .video-right::-webkit-scrollbar {
  background: transparent;
  height: 21.1302%;
  width: 5px;
  cursor: pointer;
}
.video .container .row .video-right::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.video .container .row .video-right .wrap-video {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.video .container .row .video-right .wrap-video:first-child {
  border: none;
  margin-top: 0;
  padding-top: 0;
}
.video .container .row .video-right .wrap-video:hover .description p {
  color: #087cce;
}
.video .container .row .video-right .wrap-video .class-video {
  position: relative;
}
.video .container .row .video-right .wrap-video .class-video img {
  width: 120px;
  height: 67px;
  margin-right: 10px;
}
.video .container .row .video-right .wrap-video .class-video span {
  background: #222;
  padding: 4px;
  color: #fff;
  position: absolute;
  bottom: 36px;
  left: 6px;
}
.video .container .row .video-right .wrap-video .description p {
  font-size: 14px;
  font-weight: 400;
  color: #222;
  margin-bottom: 10px;
}
.video .container .row .video-right .wrap-video .description .name-news {
  font-size: 12px;
  font-weight: 400;
  color: #222;
  margin-right: 10px;
}
.video .container .row .video-right .wrap-video .description .name-news:hover {
  color: #087cce;
}
.video .container .row .video-right .wrap-video .description .comment {
  font-size: 12px;
  font-weight: 400;
  color: #087cce;
}
.video .container .row .video-right .wrap-video .description .comment:hover i {
  color: #999;
}
.video .container .row .video-right .wrap-video .description .comment i {
  color: #bdbdbd;
  margin-right: 5px;
}

.footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 5px solid #e5e5e5;
}
.footer .container .row .footer-left {
  padding-left: 0;
}
.footer .container .row .footer-left .col a {
  margin-bottom: 15px;
  font-weight: 400 !important;
  font-size: 14px !important;
}
.footer .container .row .footer-left .col:first-child a {
  font-weight: 700 !important;
}
.footer .container .row .footer-left .col:last-child {
  position: relative;
}
.footer .container .row .footer-left .col:last-child::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: -15px;
  background: #E5E5E5;
}
.footer .container .row .footer-right .download h1 {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 6px;
}
.footer .container .row .footer-right .download .download-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .row .footer-right .download .download-app a {
  text-decoration: none;
  color: #222;
}
.footer .container .row .footer-right .download .download-app a:hover {
  background: #e5e5e5 !important;
}
.footer .container .row .footer-right .download .download-app a:first-child {
  width: 120px;
  border-radius: 3px;
  height: 32px;
  line-height: 30px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  display: block;
  text-align: center;
}
.footer .container .row .footer-right .download .download-app a:first-child img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.footer .container .row .footer-right .download .download-app a:last-child {
  width: 120px;
  border-radius: 3px;
  height: 32px;
  line-height: 30px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  display: block;
  text-align: center;
}
.footer .container .row .footer-right .download .download-app a:last-child i {
  margin-right: 2px;
  color: #bdbdbd;
}
.footer .container .row .footer-right .contact h1 {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 6px;
  margin-top: 6px;
}
.footer .container .row .footer-right .contact a {
  font-size: 14px;
  font-weight: 400;
  color: #222;
  text-decoration: none;
  width: 120px;
  display: inline-block;
}
.footer .container .row .footer-right .contact a:hover {
  color: #087cce;
}
.footer .container .row .footer-right .contact a:nth-child(2) i {
  color: #bdbdbd;
}
.footer .container .row .footer-right .contact a:nth-child(3) i {
  color: #adff2f;
}
.footer .container .row .footer-right .contact a:nth-child(4) {
  display: block;
  margin-top: 10px;
  width: 100%;
}
.footer .container .row .footer-right .contact a:nth-child(4) i {
  color: #ff0;
}
.footer .container .row .footer-right .contact a i {
  margin-right: 5px;
}
.footer .container .row .footer-right .phone {
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid #e0e0e0;
}
.footer .container .row .footer-right .phone p {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.footer .container .row .footer-right .phone .number-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .row .footer-right .phone .number-phone a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #222;
}
.footer .container .row .footer-right .phone .number-phone a:hover {
  color: #087cce;
}
.footer .container .row .footer-right .phone .number-phone a:last-child {
  text-align: right;
}
.footer .container .row .footer-right .phone .number-phone a span {
  font-size: 12px;
  font-weight: 400;
  color: #757575;
}
.footer .container .row:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.footer .container .row:nth-child(2) .col-lg-6:first-child {
  padding-left: 0;
}
.footer .container .row:nth-child(2) .col-lg-6:first-child a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #222;
}
.footer .container .row:nth-child(2) .col-lg-6:first-child a:hover {
  opacity: 0.8;
}
.footer .container .row:nth-child(2) .col-lg-6:first-child a img {
  width: 140px;
  height: 26px;
  margin-left: 10px;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child {
  text-align: right;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child a {
  font-size: 14px;
  font-weight: 400;
  color: #222;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child .follow {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #222;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #e5e5e5;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child .follow p {
  display: inline-block;
  margin: 0;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child .follow a {
  width: 32px;
  height: 32px;
  border: 1px solid #e5e5e5;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  margin-left: 5px;
  transition: all 0.3s;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child .follow a:hover:nth-child(2) {
  background: #3b5999;
  border: 1px solid #3b5999;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child .follow a:hover:nth-child(2) i {
  color: #fff;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child .follow a:hover:nth-child(3) {
  background: #55acee;
  border: 1px solid #55acee;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child .follow a:hover:nth-child(3) i {
  color: #fff;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child .follow a:hover:nth-child(4) {
  background: #c00;
  border: 1px solid #c00;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child .follow a:hover:nth-child(4) i {
  color: #fff;
}
.footer .container .row:nth-child(2) .col-lg-6:last-child .follow a i {
  color: #93908a;
}
.footer .container .row:nth-child(3) {
  margin-top: 15px;
  margin-bottom: 20px;
}
.footer .container .row:nth-child(3) .col-lg-3 {
  font-size: 14px;
}
.footer .container .row:nth-child(3) .col-lg-3:nth-child(1) {
  padding-left: 0px;
}
.footer .container .row:nth-child(3) .col-lg-6 {
  font-size: 14px;
}

.icon-top {
  width: 40px;
  height: 40px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
}
.icon-top i {
  width: 16px;
  height: 16px;
  color: #757575;
}
.icon-top.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.icon-top.cd-top--fade-out {
  opacity: 1;
}

.modal-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.modal-wrap.show {
  display: block;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .header {
    position: relative;
  }
  .header .container .row .col-6 .icon-menu-mobile {
    display: block;
    margin-right: 10px;
  }
  .header .container .row .col-6 .icon-menu-mobile i {
    font-size: 16px;
  }
  .header .container .row .col-6 .time {
    display: none;
  }
  .header .container .row .col-6 .search {
    display: none;
  }
  .header .container .row .col-6:nth-child(2) {
    justify-content: space-between;
  }
  .header .menu-mobile {
    display: block;
    position: absolute;
    width: 200px;
    height: 100vh;
    background-color: #fff;
    z-index: 20;
    padding: 15px;
    transform: translateX(-200px);
    transition: all 0.65s;
    top: 100%;
  }
  .header .menu-mobile.show {
    transform: translateX(0);
  }
  .header .menu-mobile .logo {
    text-align: center;
  }
  .header .menu-mobile ul {
    text-align: center;
    list-style-type: none;
    margin-top: 20px;
  }
  .header .menu-mobile ul li {
    margin-bottom: 10px;
  }
  .header .menu-mobile ul li:hover a {
    color: #087cce;
  }
  .header .menu-mobile ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #222;
  }
  .navigation {
    display: none;
  }
  .section-1 .container .row .section-1-left .row .section-1-left-down .row .col-lg-8 .row .col-lg-6:first-child {
    padding-left: 15px;
  }
  .section-1 .container .row .section-1-right {
    display: none;
  }
  .section-2 .container .row .section-2-right .item-1 .title ul li {
    display: none;
  }
  .section-2 .container .row .section-2-right .item-1 .title ul li:first-child {
    display: block;
  }
  .section-2 .container .row .section-2-right .item-1 .content-1 .col-4 a h3 {
    line-height: 1.6;
  }
  .section-2 .container .row .section-2-right .item-1 .content-2 {
    display: block;
    margin-top: 10px;
  }
  .footer .container .row .footer-left .row .col:first-child {
    margin-bottom: 20px;
  }
  .footer .container .row .footer-left .row .col:last-child {
    margin-bottom: 20px;
  }
  .footer .container .row .footer-right {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .footer .container .row:nth-child(2) .col-6 {
    text-align: center !important;
  }
  .footer .container .row:nth-child(2) .col-6:last-child {
    margin-top: 20px;
  }
}
@media (max-width: 739px) {
  .header {
    position: relative;
  }
  .header .container .row .col-6:first-child .icon-menu-mobile {
    display: block;
    margin-right: 15px;
  }
  .header .container .row .col-6:first-child a {
    display: block;
  }
  .header .container .row .col-6:first-child .time {
    display: none;
  }
  .header .container .row .col-6:last-child {
    display: none;
  }
  .header .menu-mobile {
    display: block;
    position: absolute;
    width: 200px;
    height: 100vh;
    background-color: #fff;
    z-index: 20;
    padding: 15px;
    transform: translateX(-200px);
    transition: all 0.65s;
    top: 100%;
  }
  .header .menu-mobile.show {
    transform: translateX(0);
  }
  .header .menu-mobile .logo {
    text-align: center;
  }
  .header .menu-mobile ul {
    text-align: center;
    list-style-type: none;
    margin-top: 20px;
  }
  .header .menu-mobile ul li {
    margin-bottom: 10px;
  }
  .header .menu-mobile ul li:hover a {
    color: #087cce;
  }
  .header .menu-mobile ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #222;
  }
  .navigation {
    display: none;
  }
  .section-1 .container .row {
    display: block;
  }
  .section-1 .container .row .section-1-left .row .section-1-left-up .row .col-lg-4 a:last-child {
    margin-bottom: 20px;
  }
  .section-1 .container .row .section-1-left .row .section-1-left-down .row .col-lg-8 .row .col-lg-6:first-child {
    padding-left: 15px;
  }
  .section-1 .container .row .section-1-left .row .section-1-left-down .row .col-lg-4 {
    border: none;
  }
  .section-1 .container .row .section-1-right {
    display: none;
  }
  .section-2 .container .row .section-2-right .item-1 .title ul li {
    display: none;
  }
  .section-2 .container .row .section-2-right .item-1 .title ul li:first-child {
    display: block;
  }
  .section-2 .container .row .section-2-right .item-1 .content-2 {
    display: block;
  }
  .section-2 .container .row .section-2-right .item-1 .content-2 li {
    max-width: 100%;
    margin: 10px 0;
  }
  .video .container .title a {
    display: none;
  }
  .video .container .title a:first-child {
    display: block;
  }
  .video .container .row .video-left a {
    margin: 20px 0;
  }
  .footer .container .row .footer-left {
    padding-left: 15px;
  }
  .footer .container .row .footer-left .row .col:first-child {
    padding-left: 15px;
    margin-bottom: 20px;
  }
  .footer .container .row .footer-left .row .col:last-child {
    margin-bottom: 20px;
  }
  .footer .container .row .footer-right {
    margin-bottom: 20px;
  }
  .footer .container .row:nth-child(2) .col-lg-6:first-child {
    padding-left: 15px;
    margin-bottom: 20px;
  }
  .footer .container .row:nth-child(3) .col-lg-3:nth-child(1) {
    padding-left: 15px;
  }
  .footer .container .row:nth-child(3) .col-lg-6 {
    margin: 20px 0;
  }
}